*{
	box-sizing: border-box;
}

body{background-color: #ca8988}

nav ul li{
	display: inline-block;
	margin-top: 80px;
}


/*.container {
    width: 330px;
    margin: auto;
    padding-top: 100px;
}*/

